# vscode
.idea/
.vscode/

# Python
__pycache__/
*.pyc
.venv/
venv/
.env
*.egg-info/
dist/
build/
*.sqlite3
*.log

# Jupyter
.ipynb_checkpoints

# OS
tmp/
.DS_Store

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
coverage.xml
.tox/
test-output.txt
*.cover
.hypothesis/

# mlflow files
mlflow.db
mlartifacts/
